- id: '1636292424661'
  alias: Zasílání infa
  description: ''
  trigger:
  - platform: time
    id: casovac
    at: '15:45'
  condition: []
  action:
  - device_id: 557cb94a3ddf00285c99fe0f9b332db4
    domain: mobile_app
    type: notify
    message: Už je čas
  mode: single
- id: '1691251329784'
  alias: Zhasnutí světel ve sklepě po zhasnutí schodiště
  description: ''
  trigger:
  - platform: device
    type: turned_off
    device_id: 1b855313dfd5a3e5bec6e0ea1521dde4
    entity_id: light.svetlo_schodiste_light
    domain: light
  condition: []
  action:
  - type: turn_off
    device_id: 21aebc479fb3433ae6cdeb3748c35837
    entity_id: light.svetlo_pod_verandou_light
    domain: light
  - type: turn_off
    device_id: e7fac79a4813a1445247818212f6b046
    entity_id: 059a76dcf45b0645526e71ca278164a1
    domain: light
  - type: turn_off
    device_id: 882649511259abb90f0882b3f456433f
    entity_id: 2a8ffa9348b51719ad41f0eb7e70972c
    domain: light
  - type: turn_off
    device_id: 52349e87791a6fbcfda2765c51b3146c
    entity_id: 36c3fa011cf17b73c8c221f568dd2600
    domain: light
  - type: turn_off
    device_id: 19f5bb9c37bd8bc1aed4b2fe8a792942
    entity_id: 053bc8229ef2cc90f12251132efe0d2f
    domain: light
  - type: turn_off
    device_id: 142f0fb8b8e9344f2cea653a4c1ed933
    entity_id: 8bdc2e75c0a1ae64777616335a8b3230
    domain: light
  - type: turn_off
    device_id: 8783fec79308acba68d70b50629a2ecb
    entity_id: 7bc118fbe195acd980ca4f075ba0cb6e
    domain: light
  - type: turn_off
    device_id: d368a9667494777bb312c4a79bd87fcd
    entity_id: ae9e38b3aab3e08dee59fbab5fee5d68
    domain: light
  mode: single
- id: '1713121241758'
  alias: Světelné upozornění na konec mycího/pracího programu
  description: ''
  trigger:
  - platform: state
    entity_id:
    - input_boolean.dokonceny_praci_myci_program
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: scene.create
    metadata: {}
    data:
      scene_id: before_notifiaction
      snapshot_entities:
      - light.notifikacni_svetla
  - service: light.turn_on
    metadata: {}
    data:
      rgb_color:
      - 255
      - 0
      - 255
      brightness_pct: 100
    target:
      entity_id: light.notifikacni_svetla
  - service: input_boolean.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: input_boolean.dokonceny_praci_myci_program
  - service: input_boolean.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: input_boolean.svetla_zobrazena_notifikace
  mode: single
- id: '1713196940294'
  alias: Chodba - Rozsvícení světla na pohyb, když je málo světla
  description: ''
  triggers:
  - type: motion
    device_id: 04a156985d7b23e906ee47d3ee974cd0
    entity_id: b5e4d981415c350b0741fdd51f7fd518
    domain: binary_sensor
    trigger: device
  conditions:
  - type: is_illuminance
    condition: device
    device_id: 4792d196f0395f6f26fcedb6e52bec43
    entity_id: e37b4578cbd50406551def834950635f
    domain: sensor
    below: 1000
  - condition: state
    entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
    state: 'on'
  - condition: state
    entity_id: input_boolean.svetla_zobrazena_notifikace
    state: 'off'
  actions:
  - if:
    - condition: state
      entity_id: input_boolean.svetla_povoleny_nocni_rezim
      state: 'on'
    - condition: state
      entity_id: schedule.nocni_doba
      state: 'on'
    then:
    - metadata: {}
      data:
        brightness_pct: 35
        rgb_color:
        - 255
        - 128
        - 31
      action: light.turn_on
      target:
        entity_id: light.chodba
    else:
    - metadata: {}
      data:
        kelvin: 4500
        brightness_pct: 100
      action: light.turn_on
      target:
        entity_id: light.chodba
  mode: single
- id: '1713202778110'
  alias: Chodba - zhasnutí světla bez pohybu
  description: ''
  triggers:
  - type: no_motion
    device_id: 04a156985d7b23e906ee47d3ee974cd0
    entity_id: b5e4d981415c350b0741fdd51f7fd518
    domain: binary_sensor
    for:
      hours: 0
      minutes: 1
      seconds: 0
    trigger: device
  conditions:
  - condition: state
    entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
    state: 'on'
  - condition: state
    entity_id: input_boolean.svetla_zobrazena_notifikace
    state: 'off'
  actions:
  - metadata: {}
    data: {}
    action: light.turn_off
    target:
      entity_id: light.chodba
  mode: single
- id: '1734018225266'
  alias: Schody - Rozsvícení světla na pohyb, když je málo světla - s časovačem vypnutí
  description: ''
  triggers:
  - type: motion
    device_id: 24c1b44162d3c25cafb3a8be980b59fd
    entity_id: c82bb2b0adf93c31c04910914d724066
    domain: binary_sensor
    trigger: device
    id: schody_rozsviceni_na_pohyb
  - trigger: state
    entity_id:
    - timer.schodiste_zhasnuti_svetla_zapnuteho_pohybem
    from: active
    to: idle
    id: schody_zhasnuti_bez_pohybu
  conditions:
  - type: is_illuminance
    condition: device
    device_id: 4792d196f0395f6f26fcedb6e52bec43
    entity_id: e37b4578cbd50406551def834950635f
    domain: sensor
    below: 1000
  - condition: state
    entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
    state: 'on'
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id:
        - schody_rozsviceni_na_pohyb
      sequence:
      - type: turn_on
        device_id: 2c3cef7255edc14d1fa06dd5819a54ae
        entity_id: aedac65e1361f94638d24012d247ee28
        domain: light
      - action: timer.start
        metadata: {}
        data: {}
        target:
          entity_id: timer.schodiste_zhasnuti_svetla_zapnuteho_pohybem
    - conditions:
      - condition: trigger
        id:
        - schody_zhasnuti_bez_pohybu
      sequence:
      - type: turn_off
        device_id: 2c3cef7255edc14d1fa06dd5819a54ae
        entity_id: aedac65e1361f94638d24012d247ee28
        domain: light
  mode: restart
- id: '1734026109344'
  alias: Schody - Rozsvícení světla spínačem s časovačem vypnutí bez pohybu
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - timer.schodiste_zhasnuti_svetla_zapnuteho_spinacem
    from: active
    to: idle
    id: schody_zhasnuti_po_limitu
  - type: turned_on
    device_id: 2c3cef7255edc14d1fa06dd5819a54ae
    entity_id: aedac65e1361f94638d24012d247ee28
    domain: light
    trigger: device
    id: schody_rozsviceni_spinacem
  conditions:
  - condition: state
    entity_id: timer.schodiste_zhasnuti_svetla_zapnuteho_pohybem
    state: idle
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id:
        - schody_rozsviceni_spinacem
      sequence:
      - action: timer.start
        metadata: {}
        data: {}
        target:
          entity_id: timer.schodiste_zhasnuti_svetla_zapnuteho_spinacem
    - conditions:
      - condition: trigger
        id:
        - schody_zhasnuti_po_limitu
      - type: is_no_motion
        condition: device
        device_id: 24c1b44162d3c25cafb3a8be980b59fd
        entity_id: c82bb2b0adf93c31c04910914d724066
        domain: binary_sensor
      sequence:
      - type: turn_off
        device_id: 2c3cef7255edc14d1fa06dd5819a54ae
        entity_id: aedac65e1361f94638d24012d247ee28
        domain: light
    - conditions:
      - condition: trigger
        id:
        - schody_zhasnuti_po_limitu
      - type: is_motion
        condition: device
        device_id: 24c1b44162d3c25cafb3a8be980b59fd
        entity_id: c82bb2b0adf93c31c04910914d724066
        domain: binary_sensor
      sequence:
      - action: timer.start
        metadata: {}
        data:
          duration: 00:01:00
        target:
          entity_id: timer.schodiste_zhasnuti_svetla_zapnuteho_spinacem
  mode: restart
- id: '1738859827721'
  alias: Osvětlení po zapnutí TV večer
  description: ''
  triggers:
  - device_id: c784c4fa7720c9643498f60ab644c23a
    domain: media_player
    entity_id: ad8206db8a9422805a2ca5a975c4217c
    type: turned_on
    trigger: device
    for:
      hours: 0
      minutes: 0
      seconds: 15
  conditions:
  - type: is_illuminance
    condition: device
    device_id: 4792d196f0395f6f26fcedb6e52bec43
    entity_id: e37b4578cbd50406551def834950635f
    domain: sensor
    below: 1000
  actions:
  - type: turn_on
    device_id: 6aad35370f9aeaa2d05fb7e80863e7e6
    entity_id: 1066cb659d815589ece4209082309c96
    domain: light
    brightness_pct: 100
  mode: single
- id: wled_reolink_person_vecer
  alias: WLED pásek - Reolink person (večer) ON/OFF
  description: ''
  triggers:
  - id: person_on_2s
    entity_id: binary_sensor.dvorek_osoba
    to: 'on'
    for: 00:00:02
    trigger: state
  - id: person_off_3m
    entity_id: binary_sensor.dvorek_osoba
    to: 'off'
    for: 00:03:00
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: person_on_2s
      - condition: state
        entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
        state: 'on'
      - condition: numeric_state
        entity_id: sensor.balkon_senzor_osvetleni_osvetleni
        below: 1000
      sequence:
      - target:
          entity_id: light.wled
        data:
          brightness_pct: 100
          rgbw_color:
          - 255
          - 255
          - 255
          - 255
        action: light.turn_on
      - target:
          entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        action: input_boolean.turn_on
    - conditions:
      - condition: trigger
        id: person_off_3m
      - condition: state
        entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
        state: 'on'
      - condition: state
        entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        state: 'on'
      sequence:
      - target:
          entity_id: light.wled
        action: light.turn_off
      - target:
          entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        action: input_boolean.turn_off
  mode: single
- id: wled_reolink_person_vecer
  alias: WLED pásek - Reolink person (večer) ON/OFF
  description: ''
  triggers:
  - id: person_on_2s
    entity_id: binary_sensor.dvorek_osoba
    to: 'on'
    for: 00:00:02
    trigger: state
  - id: person_off_3m
    entity_id: binary_sensor.dvorek_osoba
    to: 'off'
    for: 00:03:00
    trigger: state
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id: person_on_2s
      - condition: state
        entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
        state: 'on'
      - condition: numeric_state
        entity_id: sensor.balkon_senzor_osvetleni_osvetleni
        below: 1000
      sequence:
      - target:
          entity_id: light.wled
        data:
          brightness_pct: 100
          rgbw_color:
          - 255
          - 255
          - 255
          - 255
        action: light.turn_on
      - target:
          entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        action: input_boolean.turn_on
    - conditions:
      - condition: trigger
        id: person_off_3m
      - condition: state
        entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
        state: 'on'
      - condition: state
        entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        state: 'on'
      sequence:
      - target:
          entity_id: light.wled
        action: light.turn_off
      - target:
          entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        action: input_boolean.turn_off
  mode: single
- id: '1766074965807'
  alias: WLED pásek
  description: ''
  triggers:
  - type: turned_on
    device_id: 0092948e71e2c5b6fc6840156848a622
    entity_id: 45c02cb1ca63efde79180eafb36165c1
    domain: binary_sensor
    trigger: device
    for:
      hours: 0
      minutes: 0
      seconds: 2
    id: person_on
  - type: turned_off
    device_id: 0092948e71e2c5b6fc6840156848a622
    entity_id: 45c02cb1ca63efde79180eafb36165c1
    domain: binary_sensor
    trigger: device
    id: person_off
    for:
      hours: 0
      minutes: 2
      seconds: 0
  conditions:
  - condition: state
    entity_id: input_boolean.svetla_povolene_automaticke_rozsveceni
    state:
    - 'on'
  actions:
  - choose:
    - conditions:
      - condition: trigger
        id:
        - person_on
      - condition: numeric_state
        entity_id: sensor.balkon_senzor_osvetleni_osvetleni
        below: 50
      sequence:
      - action: light.turn_on
        metadata: {}
        data:
          color_temp_kelvin: 6500
          brightness_step_pct: 100
        target:
          entity_id: light.wled
      - action: input_boolean.turn_on
        metadata: {}
        data: {}
        target:
          entity_id: input_boolean.led_pasek_rozsvicen_kamerou
    - conditions:
      - condition: trigger
        id:
        - person_off
      - condition: state
        entity_id: input_boolean.led_pasek_rozsvicen_kamerou
        state:
        - 'on'
      sequence:
      - action: light.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: light.wled
      - action: input_boolean.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: input_boolean.led_pasek_rozsvicen_kamerou
  mode: single
