substitutions:
  device_name: minir4-extreme
  project_name: "sonoff.mini-r4-extreme-switch"
  project_version: "1.1"

esphome:
  name: ${device_name}
  comment: "Sonoff MiniR4 Extreme"

esp32:
  board: esp32dev
  framework:
    type: arduino

api:

ota:

logger:
  baud_rate: 0

mdns:
  disabled: false

web_server:
  port: 80

wifi:
  ap: {}

captive_portal:

sensor:
  - platform: wifi_signal
    name: ${friendly_name} Wifi Signal Strength
    update_interval: 90s
    entity_category: "diagnostic"

  - platform: uptime
    name: ${friendly_name} Uptime
    update_interval: 300s
    entity_category: "diagnostic"

text_sensor:
  - platform: wifi_info
    ssid:
      name: Connected SSID
    ip_address:
      name: IP Address
    dns_address:
      name: DNS Address

esp32_ble_tracker:
  scan_parameters:
    interval: 300ms
    window: 100ms
    active: true

bluetooth_proxy:
  active: true

switch:
  - platform: gpio
    name: ${friendly_name} Relay
    pin:
      number: GPIO26
      inverted: false
    id: relay
    on_turn_on:
      - light.turn_on: relay_led
    on_turn_off:
      - light.turn_off: relay_led
  - platform: restart
    name: ${friendly_name} Restart

output:
  - platform: gpio
    pin: GPIO19
    inverted: True
    id: relay1_led_gpio

light:
  - platform: binary
    name: "Relay LED"
    id: relay_led
    internal: true
    output: relay1_led_gpio

binary_sensor:
  # External button
  - platform: gpio
    internal: true
    pin:
      number: GPIO27
      mode: INPUT_PULLUP
      inverted: false
    name: ${friendly_name} Switch
    on_state:
      - switch.toggle: relay
  # Button on device
  - platform: gpio
    internal: true
    pin:
      number: GPIO0
      mode: INPUT_PULLUP
      inverted: false
    name: ${friendly_name} Button
    on_press:
      - switch.toggle: relay
